* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex; 
    justify-content: space-between; 
    justify-content: space-around;
    align-items: center;
    height: 10vh;


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        height: 10vh;

        a {
            color: #4B5563;
            text-decoration: none;
            font-size: 1.5rem;
        }

    }
}

.btnVerde {
    background-color: #21C05C;
    padding: 20px;
    border-radius: 6px;
    color: #ffffff;
}

.caixaLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

    h1 {
        color: #1f2937;
        font-size: 2.5rem;
    }
}

.primeiraSection {
    display: flex;
    justify-content: space-around;
    height: 70vh;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-size: 3.75rem;
            border: solid;
            width: 60%;
        }

        p {
            font-size: 1.25rem;
            width: 65%;
            border: solid;
        }
    }
}

.boxBtnsPrimeiraSection {
    border: solid;
    width: 40%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 30px 40px;
        cursor: pointer;
    }
}

.produtosDisponiveis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;


    article {
        width: 18%;
        height: 60vh;
        display: flex;
        flex-direction: row; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
        }

        p {
            text-align: center;
            border: solid;
            width: 90%;
        }

        button {
            margin-bottom: 2rem;
            padding: 1rem;
        }
    }
}

@media(max-width: 500px) {
    header {
        height: 18vh;
        flex-direction: column;


        nav {
            width: 90%;

            a {
                font-size: 0.8rem;
            }
        }
    }

    .caixaLogo {
        width: 50%;

        h1 {
            font-size: 2rem;
        }
    }

    .primeiraSection {
        flex-direction: column;
        align-items: center;

        img {
            width: 50vw;
        }

        section {
            display: flex;
            justify-content: space-evenly;
            height: 50vh;

            h2 {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }
    }

    .boxBtnsPrimeiraSection {
        width: 100%;
        justify-content: space-evenly;
        
        button {
            padding: 10px 20px;
        }
    }

}

@media screen and (max-width: 768px) {
    .produtosDisponiveis {
        flex-direction: column;

        article {
            width: 50%;
        }
    }
}
